
.MMM-GitHub-Monitor div {
  font-size: 16px;
}

.MMM-GitHub-Monitor table {
  border-spacing: 6px 2px;
}

.MMM-GitHub-Monitor td {
  white-space: nowrap;
  text-align: left;
  vertical-align: top;
  padding: 5px;
}
